<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <!-- Site Metas -->
  <title>Fooding</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Site Icons -->
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <!-- Site CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="../css/responsive.css">
  <!-- color -->
  <link id="changeable-colors" rel="stylesheet" href="../css/colors/orange.css" />
  <!-- Modernizer -->
  <script src="../js/modernizer.js"></script>
  <style>
    body {
            background: url("../images/banner.jpg") no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }


    </style>

    <!-- Requires Vue version 2.6.x -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <!-- Flow Form -->
    <script src="https://unpkg.com/@ditdot-dev/vue-flow-form@1.1.7"></script>
    <!-- Flow Form base CSS -->
    <link rel="stylesheet" href="https://unpkg.com/@ditdot-dev/vue-flow-form@1.1.7/dist/vue-flow-form.min.css">
    <!-- Optional theme.css -->
    <link rel="stylesheet" href="../css/quiz.css">
    <!-- Optional font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&amp;display=swap">

    <script type="text/x-template" id="checkbox-template">
      <flow-form
        ref="flowform"
        :questions="questions"
        :standalone="false"
        :language="language"
        @answer="onAnswer"
        @submit="onQuizSubmit"
      >
        <template v-slot:complete>
          <p>
            <span class="fh2">¡Eso es todo!</span>
            <span v-if="!submitted" class="f-section-text">
              Haz click en calcular para conocer tu dosis adecuada de vitaminas.
            </span>
          </p>
        </template>

        <!-- We've overriden the default "completeButton" slot content -->
        <template v-slot:completeButton>
          <div class="f-submit" v-if="!submitted">
            <button
              class="o-btn-action"
              ref="button"
              type="submit"
              href="#"
              @click.prevent="onQuizSubmit()"
              aria-label="Press to submit"
            >
              <span>Calcular</span>
            </button>
            <a 
              class="f-enter-desc"
              href="#"
              @click.prevent="onQuizSubmit()"
              v-html="language.formatString(language.pressEnter)">
            </a>
          </div>
          <div v-if="submitted">
            <p class="text-success">Vitamin A: 234</p>
            <p class="text-success">Vitamin B: 43</p>
            <p class="text-success">Vitamin K: 54</p>
            <p class="text-success">Vitamin x: 65</p>
          </div>
        </template>
      </flow-form>
    </script>
</head>

<body>
  <div id="loader">
    <div id="status"></div>
  </div>
  <div id="site-header">
    <header id="header" class="header-block-top">
      <div class="container">
        <div class="row">
          <div class="main-menu">
            <!-- navbar -->
            <nav class="navbar navbar-default" id="mainNav">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="logo">
                  <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                    <img src="../images/logo.png" alt="">
                  </a>
                </div>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/">Inicio</a></li>
                  <li class="active"><a href="#">Quiz</a></li>
                  <li><a href="/#nosotros">Nosotros</a></li>
                  <li><a href="/#productos">Productos</a></li>
                  <li><a href="/#comofunciona">¿Cómo funciona?</a></li>
                  <li><a href="/#equipo">Equipo</a></li>
                  <li><a href="/#fooders">Fooders</a></li>
                </ul>
              </div>
              <!-- end nav-collapse -->
            </nav>
            <!-- end navbar -->
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container-fluid -->
    </header>
    <!-- end header -->
  </div>
  <!-- end site-header -->
  <div id="about" class="pad-top-100 pad-bottom-20">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="title-caption">
            <h2 class="block-title"> Nuestro Quiz </h2>
            <div class="banner-text" style="text-align: left">
              <p>Nuestro quiz está basado en una serie de preguntas que los clientes deben responder para verificar que snack te podrá brindar un consumo de vitaminas apropiado a tus necesidades. Lo desarrollamos a base del contenido de productos con los cuales se cuenta en cada snack que vendemos.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <div id="banner" class="">
    <div class="container pr">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- quiz -->
        <div id="quiz-app"></div>
        <!-- end quiz -->
        <!-- end col -->
      </div>
      <!-- end container -->
    </div>
    <!-- end banner -->
    <!-- ALL JS FILES -->
    <script src="../js/all.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../js/custom.js"></script>
    <!-- Vue app -->
    <script src="../js/quizApp.js"></script>
</body>

</html>